<div class="main-page">
  <div class="welcome-container">
    <h1>Welcome to MyFlix</h1>
    <p>
      Your personal movie collection. Discover, save, and enjoy your favorite
      films.
    </p>
    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        (click)="openUserRegistrationDialog()"
      >
        Sign Up
      </button>
      <button mat-raised-button color="primary" (click)="openUserLoginDialog()">
        Login
      </button>
    </div>
  </div>
</div>
