.dialog-content {
  padding: 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-mdc-dialog-actions {
  justify-content: center !important;
  padding: 20px !important;
} 